:root {
      --background-color: #0A0A0A;
      --text:aliceblue;
    }
body {
  background-color: var(--background-color);
  color: var(--text);
}

a {
  color: var(--text);
}
a:hover {
  color: var(--text);
}